.navbar {
    border-radius: 0px;
}

pre {
    border-radius: 0px;
}

a:hover {
    text-decoration: none;
}


.result_code_pending{color: black;}
.result_code_rejuding {color: black;}
.result_code_compiling {color: black;}
.result_code_running {color: black;}
.result_code_ac {color: green;}
.result_code_pe {color: black;}
.result_code_wa {color: red;}
.result_code_tle {color: red;}
.result_code_mle {color: red;}
.result_code_ole {color: red;}
.result_code_re {color: red;}
.result_code_ce {color: red;}
.result_code_co {color: black;}
.result_code_tr {color: black;}
.result_code_so {color: black;}