{extend name="extra@themes/mincss/layout/user" /}
{block name='titlepart'}{$lang['personal_information']} - {$lang['justoj']}{/block}
{block name="body"}
<div class="container">
	<div>
        <h3>{$lang.personal_information}</h3>
        <form id="editProfileForm" action="post" onsubmit="return save_profile();">
            <p>
                <span>{$lang.username}：</span><input type="text" value="{$user->user_id}" placeholder="{$lang.please_input_password}" disabled readonly>
            </p>
            <p>
                <span><span style="color: red">*</span> {$lang.nickname}：</span><input type="text" name="nickname" value="{$user->nick}">
            </p>

            <p>
                <span><span style="color: red">*</span> {$lang.fullname}：</span><input type="text" name="realname" value="{$user->realname}">
            </p>

            <p>
                <span>{$lang.school}：</span><input type="text" name="school" value="{$user->school}">
            </p>

            <p>
                <span>{$lang.academy}：</span><input type="text" name="academy" value="{$user->academy}">
            </p>

            <p>
                <span>{$lang.class}：</span><input type="text" name="class" value="{$user->class}">
            </p>

            <p>
                <span><span style="color: red">*</span> Email：</span><input type="text" name="email" value="{$user->email}">
            </p>

            <p>
                <span>{$lang.phone}：</span><input type="text" name="phone" value="{$user->phone}">
            </p>

            <div>
                <div class="col-sm-8 col-sm-offset-4">
                    <button type="submit">{$lang.save}</button>
                    <a href="/profile">返回</a>
                </div>
            </div>
        </form>
	</div>
</div>

<script type="text/javascript">
    function save_profile(){
        $.post('/api/user/modify_profile', $('#editProfileForm').serialize(), function(d){
            if ('success' == d.status) {
                window.location.href = '/profile';
            }else{
                alert(d.msg);
            }
        });
        return false;
    }
</script>

{/block}