{extend name="extra@themes/mincss/layout/user" /}
{block name='titlepart'}{$lang['my_join']} :: Welcome to JustOJ{/block}
{block name="body"}
<div class="container">
	<table class="table table-hover">
		<thead>
		<tr>
			<th width="40%">{$lang.name}</th>
			<th width="35%">{$lang.teacher}</th>
			<th width="10%">{$lang.operation}</th>
		</tr>
		</thead>
		<tbody>
		{volist name='group_joins' id='group_join'}
		<?php $group_join->fk(); $group_join->group->fk(); ?>
		<tr>
			<td><a href="/group?id={$group_join->group_id}">{if 1 == $group_join->group->type}<span class="glyphicon glyphicon-lock text-danger"></span>&nbsp;{/if}{$group_join->group->name}</a></td>
			<td>{$group_join->group->ownner_id}({$group_join->group->teacher->nick})</td>
			<td>
				{if 0 == $group_join->status}
				{$lang.waiting_for_verify}
				{/if}

				{if 1 == $group_join->status}
				<a href="/group?id={$group_join->group_id}">{$lang.enter}</a>
				{/if}

				{if 2 == $group_join->status}
				<span class="label label-danger">{$lang.removed}</span>
				{/if}

				{if 3 == $group_join->status}
				<span class="label label-danger">{$lang.rejected}</span>
				{/if}
			</td>
		</tr>
		{/volist}
		</tbody>
	</table>
	{$group_joins->render()}
</div>
{/block}
