{extend name="extra@themes/mincss/layout-group/group-layout" /}
{block name='titlepart'}{$lang.tasks} - {$group->name}{/block}
{block name='body'}
<div class="container">
	{if $group->ownner_id == $loginuser->user_id}
	<button class="btn btn-sm btn-a" type="button" onclick="alert('暂时未提供当前浏览器下发布作业的功能。');">{$lang.add_homework}</button>
	{/if}
	<table class="table table-hover">
		<thead>
		<tr>
			<th>{$lang.title}</th>
			<th>{$lang.status}</th>
			<th>{$lang.operation}</th>
		</tr>
		</thead>
		<tbody>
		{volist name='tasks' id='task'}
		<tr>
			<td><a href="/contest?id={$task->contest_id}" target="_blank">{$task->contest->title}</a></td>
			<td>
				{$task->contest->loginuser_ac_cnt} / {$task->contest->problem_cnt}
			</td>
			<td>
				<a target="_blank" href="/contest/Rank/export_group_contest_xls?id={$task->contest->contest_id}&group_id={$group->id}">下载成绩</a>
			</td>
		</tr>
		{/volist}
		</tbody>
	</table>
</div>
{/block}
