{extend name="extra@themes/mincss/layout/user" /}
{block name="body"}
<div class="container">
<?php $hr_flag = false;?>
{volist name="newss" id="news"}
<?php $news->fk(); ?>

{if $hr_flag}<hr>{/if}<?php $hr_flag = true;?>

<div>
    <h3>{$news->title}</h3>
    <p>{$news->content}</p>
    <!--<p>{$news->user->nick}({$news->user_id})</p>-->
</div>

{/volist}

<!--<hr>-->

<!--Choose the fastest JustOJ entrance for you:-->
<!--<div>-->
<!--<a href="http://oj.jxust.edu.cn">http://oj.jxust.edu.cn</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="https://oj.ismdeep.com">https://oj.ismdeep.com</a>-->
<!--</div>-->
</div>
{/block}