<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$lang['login']} - {$lang['justoj']}</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="/static/mincss/entireframework.min.css" rel="stylesheet" type="text/css">
    <script src="/static/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <form method="post" class="layui-form" id="login-form" onsubmit="return do_login();">
        <p>
            <span>{$lang.username}：</span><input name="username" id="username" type="text">
        </p>
        <p>
            <span>{$lang.password}：</span><input name="password" id="password" type="password">
        </p>
        <p>
            <button type="submit">{$lang.login}</button>
            <span style="color: red" id="error-info"></span>
        </p>
        <hr class="hr20">
        <p>
            <a href="/">{$lang.home}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/register">{$lang.register}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:" onclick="forgot_password();">{$lang.forgot_password}?</a>
        </p>
    </form>
</div>

<script type="text/javascript">
    function do_login() {
        var loginData = {
            'username': $('#username').val(),
            'password': $('#password').val()
        };
        $.post('/api/login/login',loginData,function(d){
            if ('success' == d.status) {
                localStorage.setItem('username', loginData.username);
                localStorage.setItem('password', loginData.password);
                window.location.href = '{$redirect}';
            }else{
                $('#error-info').html(d.msg);
            }
        });
        return false;
    }

    function forgot_password() {
        alert('忘记密码，请联系任课老师前往后台(用户管理 - 用户管理)进行修改密码。');
    }

    $(function(){
        $('#username').val( localStorage.getItem('username') );
        $('#password').val( localStorage.getItem('password') );
    });
</script>

</body>
</html>