{extend name="extra@themes/mincss/layout/common" /}
{block name="body"}
<!--<link rel="stylesheet" href="/static/xadmin/css/font.css">-->
<!--<link rel="stylesheet" href="/static/xadmin/css/xadmin.css">-->
<br>
<div class="container">
    <form id="pasteForm">
        <div style="width: 300px">
            <span>{$lang.language}: </span>
            <select name="lang">
                {foreach $allowed_langs as $key=>$name}
                <option value="{$key}">{$name}</option>
                {/foreach}
            </select>
        </div>
        <p>
            <textarea class="smooth" style="font-family:Courier New;width:100%" name="code" rows="20" cols="100"></textarea>
            <button type="submit" class="btn btn-sm btn-a">Paste</button>
            <span style="color: red" id="err-info"></span>
        </p>
    </form>
</div>

<script type="text/javascript">
    $('#pasteForm').on('submit',function(){
        $.post('/api/paste/paste_post',$('#pasteForm').serialize(),function(d){
            if ('success' == d.status) {
                location.href = '/paste?id=' + d.data.id;
            }else{
                $('#err-info').html(d.msg);
            }
        },'json');
        return false;
    });
</script>
{/block}