{extend name="extra@themes/mincss/layout/user" /}
{block name='titlepart'}{$problem->problem_id} - {$problem->title} - {$lang['justoj']}{/block}
{block name="body"}
<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
			"HTML-CSS": {linebreaks: {automatic: true}}
		});
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!--题目内容显示页面 begin-->
<div class="container">
	<h2 align="center">
		{if $problem->ac}
		<span style="color: green">√</span>
		{/if}
		{if $problem->pending}
		<span style="color: red">--</span>
		{/if}
		{$problem->problem_id}: {$problem->title}
	</h2>
	<div align="center">
		<div class="panel panel-default">
			<div class="panel-body">
				<span>{$lang.time_limit}: </span>C/C++ {$problem->time_limit} s &nbsp;&nbsp;&nbsp;&nbsp; Java/Python {$problem->time_limit * 3} s &nbsp;&nbsp;&nbsp;&nbsp;
				<span>{$lang.memory_limit}: </span>{$problem->memory_limit} MB &nbsp;&nbsp;&nbsp;&nbsp;
				<span>{$lang.accepted}: </span><a href="/status?problem_id={$problem->problem_id}&result=4" target="_blank">{$problem->solved}</a> &nbsp;&nbsp;&nbsp;&nbsp;
				<span>{$lang.submit}: </span><a href="/status?problem_id={$problem->problem_id}" target="_blank">{$problem->submit}</a> &nbsp;&nbsp;&nbsp;&nbsp;
				{if isset($loginuser)}
				<a href="/status?username={$loginuser->user_id}&problem_id={$problem->problem_id}" target="_blank">{$lang.my_status}</a>
				{/if}
			</div>
		</div>
	</div>
	<h3>{$lang.problem_description}</h3>
	<div class="content">
		{$problem->description}
	</div>
	<h3>{$lang.input}</h3>
	<div class=content>{$problem->input}</div>
	<h3>{$lang.output}</h3>
	<div class=content>{$problem->output}</div>
	<h3>{$lang.sample_input}</h3>
	<pre><span class=sampledata>{$problem->sample_input}</span></pre>
	<h3>{$lang.sample_output}</h3>
	<pre><span class=sampledata>{$problem->sample_output}</span></pre>
	<h3>{$lang.hint}</h3>
	<div>{$problem->hint}</div>
	<h3>{$lang.source}</h3>
	<div class=content>
		<p><a href='/problems?keyword={$problem->source}'>{$problem->source}</a></p>
	</div>
	<br>
	<form method="post" onsubmit="return submit_code();">
		<p><span>{$lang.language}：</span><select name="language" id="submit-language">{volist name="allowed_langs" id="item"}<option value="{$item.id}">{$item.name} ({$item.version})</option>{/volist}</select></p>
		<p><textarea class="form-control" style="font-family: Consolas,Courier,monospace;width: 60%" name="source" id="submit-source" rows="15"></textarea></p>
		<p><button type="submit">{$lang.submit}</button>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red" id="error-info"></span><span id="judge-info"></span></p>
	</form>
</div>
<!--题目内容显示页面 end-->

<script type="text/javascript">
	var problem_id = {$problem->problem_id};
	var solution_id = '';
</script>

<script type="text/javascript">
	var solution_result_color = {
		'result_code_pending': 'black',
		'result_code_rejuding': 'black',
		'result_code_compiling': 'black',
		'result_code_running': 'black',
		'result_code_ac': 'green',
		'result_code_pe': 'black',
		'result_code_wa': 'red',
		'result_code_tle': 'red',
		'result_code_mle': 'red',
		'result_code_ole': 'red',
		'result_code_re': 'red',
		'result_code_ce': 'red',
		'result_code_co': 'black',
		'result_code_tr': 'black',
		'result_code_so': 'black'
	};


	function getNowFormatDate() {
		var date = new Date();
		var seperator1 = "-";
		var seperator2 = ":";
		var month = date.getMonth() + 1;
		var strDate = date.getDate();
		if (month >= 1 && month <= 9) {
			month = "0" + month;
		}
		if (strDate >= 0 && strDate <= 9) {
			strDate = "0" + strDate;
		}

		var hour = date.getHours();
		var minute = date.getMinutes();
		var second = date.getSeconds();

		var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate + " ";
		if (hour < 10) currentdate += '0';
		currentdate += hour + seperator2;
		if (minute < 10) currentdate += '0';
		currentdate += minute + seperator2;
		if (second < 10) currentdate += '0';
		currentdate += second;
		//+ date.getHours() + seperator2 + date.getMinutes() + seperator2 + date.getSeconds();
		return currentdate;
	}

	function status_monitor(){
		$.get('/api/solution/status?solution_id='+solution_id,function(d){
			if (d.data.result < 4) {
				$('#judge-info').html(d.data.result_text);
				window.setTimeout("status_monitor()",300);
			}else{
				$('#judge-info').html(d.data.result_text);
				$('#judge-info').css('color', solution_result_color[d.data.result_code]);
				/* 如果是编译错误还要显示编译错误信息 */
				// if ('11' == d.data.result) {
				// 	$('#solution-compile-error').html(d.data.compile_info.error);
				// 	$('#compile-info-panel').show();
				// }
				// if ('4' == d.data.result) {
					// $('#submit-source').val('');
				// }
			}
		},'json');
	}

	function submit_code(){
		var codeData = {
			'problem_id': problem_id,
			'language': $('#submit-language').val(),
			'code': $('#submit-source').val()
		};
		$.post('/api/solution/submit_problem_code',codeData,function(d){
			// alert(JSON.stringify(d));
			if ('success' == d.status) {
				$('#error-info').html('');
				// 监控题目状态
				solution_id = d.data.solution_id;
				status_monitor();
			}else{
				$('#error-info').html(d.msg + " @ " + getNowFormatDate());
			}
		},'json');
		return false;
	}
</script>

{/block}
