{extend name="extra@themes/mincss/layout/user" /}
{block name='titlepart'}{$lang['rank']} - {$lang['justoj']}{/block}
{block name="body"}
<div class="container">
	<table class="table table-hover">
		<thead>
		<tr>
			<td><b>{$lang.rank}</b></td>
			<td><b>{$lang.username}</b></td>
			<td><b>{$lang.nickname}</b></td>
			<td><b>{$lang.accepted}</b></td>
			<td><b>{$lang.submit}</b></td>
		</tr>
		</thead>
		<tbody>
		{volist name='users' id='user'}
		<?php $user->fk(); ?>
		<tr>
			<td>{$cur_rank}</td>
			<td><div class="center"><a href="/user/Info?user={$user->user_id}">{$user->user_id}</a></div></td>
			<td><div class="center">{$user->nick}</div></td>
			<td><div class="center"><a href="/status?username={$user->user_id}&amp;jresult=4">{$user->solved}</a></div></td>
			<td><div class="center"><a href="/status?username={$user->user_id}">{$user->submit}</a></div></td>
		</tr>
		<?php $cur_rank++;?>
		{/volist}
		</tbody>
	</table>
	{$users->render()}
</div>
{/block}
