<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$lang['register']} - {$lang['justoj']}</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="/static/mincss/entireframework.min.css" rel="stylesheet" type="text/css">
    <script src="/static/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<div class="container">

    <form method="post" class="layui-form" onsubmit="return do_register();">
        <p>
            <span>{$lang.username}</span><input name="username" id="username" type="text" >
        </p>
        <p>
            <span>{$lang.password}</span><input name="password" id="password" type="password">
        </p>
        <p>
            <span>{$lang.password_again}</span><input name="password" id="password-again" type="password">
        </p>
        <p>
            <button type="submit">{$lang.register}</button>
            <span style="color: red" id="error-info"></span>
        </p>
        <hr>
        <p>
            <a href="/">{$lang.home}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/login">{$lang.login}</a>
        </p>
    </form>
</div>

<script type="text/javascript">
    function do_register() {
        console.log("test");
        var postData = {
            'username': $('#username').val(),
            'password': $('#password').val(),
            'password_again': $('#password-again').val()
        };
        $.post('/api/user/register',postData,function(d){
            if ('success' == d.status) {
                $('#error-info').html('注册成功');
                window.location.href = '/login';
            }else{
                $('#error-info').html(d.msg);
            }
        });
        return false;
    }
    $(function  () {
        layui.use('form', function(){
            var form = layui.form;
            form.on('submit(register)', function(data){
                layer.msg('Loading....', {
                    icon: 16
                    ,shade: 0.01
                });
                setTimeout(function(){

                },300);
                return false;
            });
        });
    });
</script>

</body>
</html>