{if $login_user && $login_user->is_admin}
<a href="/admin/problem/edit?id={$problem->problem_id}" class="btn btn-primary" target="_blank">{$lang.edit}</a>
<a href="/admin/problem/files?problem_id={$problem->problem_id}" class="btn btn-primary" target="_blank">{$lang.test_data}</a>
<button class="btn btn-primary" onclick="show_set_tag({$problem->problem_id});">{$lang['tag']}</button>

{if $login_user && $login_user->is_root}
<button class="btn btn-danger" onclick="rejudge_problem({$problem->problem_id})">{$lang.rejudge}</button>
{/if}

<script type="text/javascript">
    function show_set_tag(problem_id) {
        layer.open({
            title: '选择题目标签',
            type: 2,
            area: ['600px', '400px'],
            fixed: false, //不固定
            maxmin: true,
            content: '/admin/problem/set_tag?problem_id=' + problem_id
        });
    }
</script>
{/if}



