{extend name="base" /}
{block name="content"}
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <div class="layui-upload-drag" id="test10">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                </div>

                <div class="layui-upload">
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr><th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr></thead>
                            <tbody id="demoList"></tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="testListAction">开始上传</button>
                </div>

            </div>


        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block" id="done-html">

            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'upload'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , upload = layui.upload;

        // //拖拽上传
        // upload.render({
        //     elem: '#test10'
        //     , url: '/admin/file_upload/upload_post'
        //     , done: function(res){
        //         layer.closeAll();
        //         console.log(res);
        //         $('#done-html').html( "<p><a href=\""+res.data+"\" target=\"_blank\">"+res.file_name+"</a></p>" + $('#done-html').html() );
        //         // $('#img_url_show').attr('src', res.data);
        //         // $('#img_url').val(res.data);
        //
        //     }
        //     , before: function () {
        //         layer.msg('正在上传', {
        //             icon: 16
        //             ,shade: 0.01
        //         });
        //     }
        // });

        //多文件列表示例
        var demoListView = $('#demoList')
            ,uploadListIns = upload.render({
            elem: '#test10'
            ,url: '/admin/Problem/upload_files?problem_id={$problem->problem_id}'
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ file.size +'B</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            , before : function () {
                if ('' == $('#car_id').val() || '' == $('#img_type').val()) {
                    layer.alert('请选择车型和图片类型');
                    this.stop();
                }else{
                    $('#testListAction').html('正在上传...');
                    $('#testListAction').attr('disabled', true);
                    $('#testListAction').addClass('layui-btn-disabled');
                }
            }
            ,done: function(res, index, upload){
                if(res.status == 'success'){ //上传成功
                    var tr = demoListView.find('tr#upload-'+ index),tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }else{
                    this.error(index, upload);
                }

            }
            ,error: function(index, upload){
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });
    });


</script>

{/block}