{extend name="base" /}
{block name="content"}
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="problemFilterForm">
            <a class="layui-btn layui-btn-sm" href="/admin/problem/add" target="_blank">添加题目</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="layui-input" style="height: 30px;" type="text" name="keyword" id="keyword" placeholder="关键字搜索" autocomplete="off">
            <button type="submit" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="search"><i class="layui-icon"></i></button>
            <button type="button" class="layui-btn layui-btn-sm"  href="javascript:" onclick="location.reload();"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
        </form>
    </div>

    <table class="layui-hide" id="problem-list"></table>
</div>

<script type="text/html" id="operationTpl">
    {{# if (d.defunct == 'N') { }}
    <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="disable_problem({{d.problem_id}});">禁用</button>
    {{# } else { }}
    <button class="layui-btn layui-btn-sm" onclick="enable_problem({{d.problem_id}});">启用</button>
    {{# } }}
    <a class="layui-btn layui-btn-sm" target="_blank" href="/admin/problem/edit?id={{d.problem_id}}">编辑</a>
    <a class="layui-btn layui-btn-sm" href="javascript:" onclick="x_admin_show('测试数据 - {{d.problem_id}} - {{d.title}}', '/admin/Problem/files?problem_id={{d.problem_id}}',700,400);">测试数据</a>
</script>

<script type="text/html" id="problemIdTpl">
    <a href="/problems/{{d.problem_id}}" target="_blank" style="color: blue">{{d.problem_id}}</a>
</script>

<script type="text/html" id="defunctTpl">
    {{# if (d.defunct == 'N') { }}
    <span style="color: green;">正常</span>
    {{# } else { }}
    <span style="color: red;">已禁用</span>
    {{# } }}
</script>

<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#problem-list'
            , url: '/admin/problem/problem_list_json'
            , cols: [[
                  {field: 'problem_id', title: 'id', templet: '#problemIdTpl'}
                , {field: 'title', title: '标题'}
                , {field: 'defunct',  title: '状态', templet: '#defunctTpl'}
                , {field: 'problem_id', title: '操作', templet: '#operationTpl'}
            ]]
            , id: 'problem_list'
            , page: true
        });
    });


    function enable_problem(problem_id) {
        layer.confirm('确定启用？', function(){
            $.post('/admin/problem/enable_problem_json',{'problem_id':problem_id},function(d){
                layer.closeAll();
                if ('success' === d.status) {
                    var table = layui.table;
                    table.reload('problem_list');
                }else{
                    layer.alert(d.msg);
                }
            },'json');
        });
    }

    function disable_problem(problem_id) {
        layer.confirm('确定禁用？', function(){
            $.post('/admin/problem/disable_problem_json',{'problem_id':problem_id},function(d){
                layer.closeAll();
                if ('success' == d.status) {
                    var table = layui.table;
                    table.reload('problem_list');
                }else{
                    layer.alert(d.msg);
                }
            },'json');
        });
    }
    
    function add_to_training(problem_id) {
        layer.confirm('确定加入训练场？', function(){
            $.post('/admin/problem/add_to_training_json', {'problem_id': problem_id}, function (d) {
                layer.closeAll();
                if ('success' == d.status) {
                    var table = layui.table;
                    table.reload('problem_list');
                } else {
                    layer.alert(d.msg);
                }
            }, 'json')
        });
    }

    $('#problemFilterForm').on('submit',function(){
        let keyword = $('#keyword').val();
        let table = layui.table;
        table.reload('problem_list', {where: {'keyword': keyword}});
        return false;
    });
</script>
{/block}