{extend name="base" /}
{block name="content"}
<div class="x-body">
    <form class="layui-form" id="changePasswordForm">
        <div class="layui-form-item">
            <label class="layui-form-label">
                用户名
            </label>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">
                    {$login_user->user_id}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                昵称
            </label>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">
                    {$login_user->nick}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="newpassword" class="layui-form-label">
                <span class="x-red">*</span>新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="newpassword" name="newpassword"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="newpassword2" class="layui-form-label">
                <span class="x-red">*</span>确认新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="newpassword2" name="newpassword2"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                确认
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#changePasswordForm').on('submit', function () {
        $.post('/admin/my/change_password_json', $('#changePasswordForm').serialize(), function (d) {
            if ('success' == d.status) {
                layer.alert(d.msg, function(){
                    parent.location.reload();
                }, {'icon': 1});
            } else {
                layer.alert(d.msg, {'icon': 2});
            }
        }, 'json');
        return false;
    });
</script>
{/block}