{extend name='extra@layout/common'}
{block name="navpart"}
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#example-navbar-collapse">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/group?id={$group->id}">{$group->name}</a>
		</div>
		<div class="collapse navbar-collapse" id="example-navbar-collapse">
			<ul class="nav navbar-nav">
				<li{if 'notifications' == $nav} class="active"{/if}><a href="/group/notifications?id={$group->id}">{$lang.notifications}</a></li>
				<li{if 'members' == $nav} class="active"{/if}><a href="/group/members?id={$group->id}">{$lang.members}</a></li>
				<li{if 'tasks' == $nav} class="active"{/if}><a href="/group/tasks?id={$group->id}">{$lang.tasks}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="" href="/"><span class="glyphicon glyphicon-home"></span> {$lang.back_to_home}</a></li>
			</ul>
		</div>
	</div>
</nav>
{/block}