{extend name="common/group-layout" /}
{block name='title_block'}{$lang.tasks} - {$group->name}{/block}
{block name='body'}
<script src="/static/laydate/laydate.js"></script>


<div class="container">
    <div class="row">
        <div class="container">
            {if $group->owner_id == $login_user->user_id}
            <button class="btn btn-success" type="button" onclick="open_add_task();"><span
                    class="glyphicon glyphicon-plus"></span> {$lang.add_homework}
            </button>
            {/if}
            <a class="btn btn-success" href="/groups/{$group->id}/members/{$login_user->user_id}/source_codes/download"><span
                    class="glyphicon glyphicon-download"></span> {$lang.download} {$lang.source_code}</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{$lang.title}</th>
            <th>{if $is_group_manager}
            <?php echo ['en' => 'Member Complete Rate', 'cn' => '学生完成率'][$show_ui_lang];?>
            {else}
            <?php echo ['en' => 'My Status', 'cn' => '我的状态'][$show_ui_lang];?>
            {/if}
            </th>
            <th>{$lang.status}</th>
            <th>{$lang.operation}</th>
        </tr>
        </thead>
        <tbody>
        {volist name='tasks' id='task'}
        <tr>
            <td><a href="/contests/{$task->contest_id}" target="_blank">{$task->contest->title}</a></td>
            <td>
                <div class="progress">
                    {if $is_group_manager}
                    {$task->avg_progress_html}
                    {else}
                    {$task->login_user_progress_html}
                    {/if}
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-8">
                        <p>{$task->contest->start_time}</p>
                        <p>{$task->contest->end_time}</p>
                    </div>
                    <div class="col-md-4">
                        {switch name="$task->contest->get_status()"}
                        {case value="0"}<div style="color: darkgray"><?php echo ['en' => 'Pending', 'cn' => '未开始'][$show_ui_lang];?></div>{/case}
                        {case value="1"}<div style="color: green"><?php echo ['en' => 'Running', 'cn' => '已开始'][$show_ui_lang];?></div>{/case}
                        {case value="2"}<div style="color: red"><?php echo ['en' => 'Ended', 'cn' => '已结束'][$show_ui_lang];?></div>{/case}
                        {/switch}
                    </div>
                </div>
            </td>
            <td>
                <a class="btn btn-sm btn-success"
                   href="/contests/{$task->contest->contest_id}/rank/xls">
                    <span class="glyphicon glyphicon-download"></span> <?php echo ['en' => 'Download', 'cn' => '下载成绩'][$show_ui_lang];?>
                </a>
                {if $is_group_manager}
                <a class="btn btn-sm btn-success" href="javascript:" onclick="open_edit_contest('{$task->contest_id}');"><span class="glyphicon glyphicon-edit"></span> {$lang.edit}</a>
                <a class="btn btn-sm btn-danger" href="javascript:" onclick="layer.alert('暂不支持');">
                    <span class="glyphicon glyphicon-trash"></span> {$lang.delete}
                </a>
                {/if}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function open_create_homework_page() {
        layer.open({
            type: 2,
            title: '创建作业',
            area: ['800px', '600px'],
            content: '/groups/{$group->id}/tasks/create'
        });
    }

    function open_copy_homeworks_from_group() {
        layer.open({
            type: 2,
            title: '复制班级所有作业',
            area: ['800px', '600px'],
            content: '/groups/{$group->id}/tasks/copy/group'
        });
    }

    function open_copy_homework_from_homework() {
        layer.open({
            type: 2,
            title: '复制作业',
            area: ['800px', '600px'],
            content: '/groups/{$group->id}/tasks/copy/homework'
        });
    }

    function open_add_task() {
        layer.open({
            title: '添加方式',
            shadeClose: true,
            content: '请选择添加作业方式',
            btn: ['手动添加', '复制班级', '复制作业'],
            btn1: function (index, layero) {
                layer.closeAll();
                open_create_homework_page();
            },
            btn2: function (index, layero) {
                layer.closeAll();
                open_copy_homeworks_from_group();
            },
            btn3: function (index, layero) {
                layer.closeAll();
                open_copy_homework_from_homework();
            },
        });
    }

    function open_edit_contest(contest_id) {
        layer.open({
            type: 2,
            title: '复制作业',
            area: ['800px', '600px'],
            content: '/admin/contest/edit?contest_id=' + contest_id
        });
    }
</script>
{/block}
