{extend name="base" /}
{block name="content"}
<div class="x-body">
    <div class="layui-row">
        <a class="layui-btn layui-btn-sm" href="javascript:" onclick="add_contest();">添加比赛</a>
        <button type="button" class="layui-btn layui-btn-sm"  href="javascript:" onclick="location.reload();"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
    </div>
    <table class="layui-hide" id="contest-list"></table>
</div>

<script type="text/javascript">
    function open_clone_contest_from_contest() {
        layer.open({
            type: 2,
            title: '复制作业',
            area: ['500px', '300px'],
            content: '/admin/contest/filter_contests'
        });
    }

    function add_contest() {
        layer.open({
            title: '创建比赛',
            shadeClose: true,
            content: '请选择创建比赛的方式',
            btn: ['手动添加', '复制比赛'],
            btn1: function (index, layero) {
                layer.closeAll();
                x_admin_show('添加比赛','/admin/contest/add');
            },
            btn2: function (index, layero) {
                layer.closeAll();
                open_clone_contest_from_contest();
            },
        });

    }
</script>

<script type="text/html" id="idTpl">
    <a class="layui-table-link" href="/contests/{{d.contest_id}}" target="_blank">{{d.contest_id}}</a>
</script>

<script type="text/html" id="titleTpl">
    <a class="layui-table-link" href="/contests/{{d.contest_id}}" target="_blank">{{d.title}}</a>
</script>

<script type="text/html" id="privateTpl">
    {{# if (0 == d.private) { }}
    <span style="color: green">Public</span>
    {{# } else { }}
    <span style="color: red">Private</span>
    {{# } }}
</script>

<script type="text/html" id="defunctTpl">
    <input type="checkbox" lay-skin="switch" lay-text="开|关" contest-id="{{d.contest_id}}" lay-filter="switchTest" {{# if ('N' == d.defunct) { }}checked{{# } }}>
</script>

<script type="text/html" id="needEnrollTpl">
    <input type="checkbox" lay-skin="switch" lay-text="开|关" contest-id="{{d.contest_id}}" lay-filter="switchNeedEnrollTest" {{# if ('1' == d.is_need_enroll) { }}checked{{# } }}>
</script>

<script type="text/html" id="operationTpl">
    <a href="javascript:" onclick="x_admin_show('编辑 - {{d.title}}', '/admin/contest/edit?contest_id={{d.contest_id}}');">编辑</a>
    <a href="javascript:" onclick="x_admin_show('复制比赛', '/admin/contest/clone_contest?from_contest_id={{d.contest_id}}')">复制比赛</a>
</script>

<script type="text/javascript">
    var table;
    layui.use(['form', 'layedit', 'laydate', 'table'], function () {
        table = layui.table;

        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //方法级渲染
        table.render({
              elem: '#contest-list'
            , url: '/admin/contest/contest_list_json'
            , cols: [[
                {field: 'contest_id', title: 'ID', templet: '#idTpl'},
                {field: 'title', title: '标题', templet: '#titleTpl'},
                {field: 'private', title: '权限', templet: '#privateTpl'},
                {field: 'defunct', title: '状态', templet: '#defunctTpl'},
                {field: 'is_need_enroll', title: '需注册', templet: '#needEnrollTpl'},
                {field: 'contest_id', title: '操作', templet: '#operationTpl'}
            ]]
            , id: 'contest_list'
            , page: true
        });

        // 监听状态开关
        form.on('switch(switchTest)', function(data){
            layer.msg('正在操作', {
                icon: 16
                , shade: 0.01
            });
            let contest_id = data.elem.getAttribute('contest-id');
            let defunct = this.checked ? 'N' : 'Y';
            $.post('/admin/contest/change_defunct_json',{'contest_id': contest_id, 'defunct': defunct}, function(d){
                if ('success' === d.status) {
                    setTimeout(function(){
                        layer.closeAll();
                        table.reload('contest_list');
                    }, 300);
                }else{
                    layer.alert(d.msg);
                }
            },'json');
        });

        // 监听设置需要注册开关
        form.on('switch(switchNeedEnrollTest)', function(data){
            layer.msg('正在操作', {
                icon: 16
                , shade: 0.01
            });
            let contest_id = data.elem.getAttribute('contest-id');
            let is_need_enroll = this.checked ? 1 : 0;
            $.post('/admin/contest/change_need_enroll_json',{'contest_id': contest_id, 'is_need_enroll': is_need_enroll}, function(d){
                if ('success' === d.status) {
                    setTimeout(function(){
                        layer.closeAll();
                        table.reload('contest_list');
                    }, 300);
                }else{
                    layer.alert(d.msg);
                }
            },'json');
        });
    });
</script>
{/block}