{extend name="base" /}
{block name="content"}

{include file="common@snippets/ckeditor"}

<div class="x-body">
    <div class="layui-form">
        <input type="text" id="contest_id" value="{$contest->contest_id}" hidden />
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" id="title" value="{$contest->title}" lay-verify="title" autocomplete="off" placeholder="{$lang.please_input_title}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" hidden>
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type_flag" lay-filter="type_flag" value="0" title="比赛" {if '0' == $contest->type}checked=""{/if}>
                <input type="radio" name="type_flag" lay-filter="type_flag" value="1" title="作业" {if '1' == $contest->type}checked=""{/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="start_time" placeholder="请选择开始时间" value="{$contest->start_time}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">结束</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="end_time" placeholder="请选择结束时间" value="{$contest->end_time}">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">编程语言</label>
            <div class="layui-input-block">
                <input type="radio" name="langmask_flag" lay-filter="langmask_flag" value="*"   title="所有" {if '*' == $contest->langmask}checked=""{/if}>
                <input type="radio" name="langmask_flag" lay-filter="langmask_flag" value="cus" title="勾选" {if '*' != $contest->langmask}checked=""{/if}>
            </div>
        </div>

        <div class="layui-form-item" pane="" id="lang-list-div" {if '*' == $contest->langmask}hidden{/if}>
            <label class="layui-form-label">语言列表</label>
            <div class="layui-input-block">
                {volist name="allowed_langs_all" id="plang"}
                <input type="checkbox" name="allowed_langs" value="{$plang['id']}" lay-skin="primary" title="{$plang['name']}" {if $plang["allowed"] == true}checked=""{/if}>
                {/volist}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限</label>
            <div class="layui-input-block">
                <input type="radio" name="private_flag" lay-filter="private_flag" value="0" title="公开" {if '0' == $contest->private}checked=""{/if}>
                <input type="radio" name="private_flag" lay-filter="private_flag" value="1" title="私有" {if '1' == $contest->private}checked=""{/if}>
            </div>
        </div>

        <div class="layui-form-item" pane="" id="password-div" {if '0' == $contest->private}hidden{/if}>
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" id="password" value="{$contest->password}" lay-verify="password" autocomplete="off" placeholder="{$lang.please_input_password}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">题目</label>
            <div class="layui-input-block">
                <div>
                    <div class="layui-col-sm4">
                        <input type="text" id="problem_ids" value="{$contest->problem_ids}" lay-verify="problem_ids" autocomplete="off" placeholder="请输入题目id，用英文逗号分隔" class="layui-input">
                    </div>
                    <div class="layui-col-sm2">
                        <a class="layui-btn" href="javascript:" onclick="preview_problems()">预览</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">预览</label>
            <div class="layui-input-block">
                <div class="layui-col-sm6">
                    <table id="addTable" class="layui-table">
                        <thead>
                        <tr>
                            <th>{$lang.problem_id}</th>
                            <th>{$lang.title}</th>
                        </tr>
                        </thead>
                        <tbody id="problem-list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="description" id="description" placeholder="请输入内容" class="layui-textarea">{$contest->description}</textarea>
                <script> var description = CKEDITOR.replace( 'description' ); </script>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="submit_contest();">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var contest_id = $('#contest_id').val();
</script>

<script type="text/javascript">

    layui.use(['laydate', 'form'], function() {
        var laydate = layui.laydate;
        var form = layui.form;

        //日期时间选择器
        laydate.render({
            elem: '#start_time'
            ,type: 'datetime'
        });

        laydate.render({
            elem: '#end_time'
            ,type: 'datetime'
        });

        form.on('radio(langmask_flag)', function(data){
            if ('*' === data.value) {
                $('#lang-list-div').hide();
            }else{
                $('#lang-list-div').show();
            }
        });

        form.on('radio(private_flag)', function(data){
            if ('0' === data.value) {
                $('#password-div').hide();
            }else{
                $('#password-div').show();
            }
        });
    });

    /* 题目预览 */
    function preview_problems(){
        var data = {'problem_ids': $('#problem_ids').val()};
        $.post('/api/Problem/details_by_list',data,function(d){
            if ('success' === d.status) {
                let str = '';
                for (var i = 0; i < d.data.length; i++) {
                    str += '<tr>' +
                        '<td>'+d.data[i].problem_id+'</td>' +
                        '<td>'+d.data[i].title+'</td>' +
                        '</tr>';
                }
                $('#problem-list').html(str);
            }else{
                layer.alert(d.msg);
            }
        },'json');
    }

    function submit_contest() {
        var allowed_lang_ids = '';
        var checks = document.getElementsByName("allowed_langs");
        for (var i = 0; i < checks.length; i++) {
            if (checks[i].checked) {
                if ('' != allowed_lang_ids) {
                    allowed_lang_ids += ',';
                }
                allowed_lang_ids += checks[i].value;
            }
        }

        var postData = {
            'contest_id'   : $('#contest_id').val(),
            'title'        : $('#title').val(),
            'start_time'   : $('#start_time').val(),
            'end_time'     : $('#end_time').val(),
            'description'  : description.getData(),
            'problem_ids'  : $('#problem_ids').val(),
            'langmask_flag': $('input:radio[name=langmask_flag]:checked').val(),
            'private'      : $('input:radio[name=private_flag]:checked').val(),
            'type'         : $('input:radio[name=type_flag]:checked').val(),
            'password'     : $('#password').val(),
            'allowed_langs': allowed_lang_ids
        };
        $.post('/admin/contest/save_json',postData,function(d){
            if ('success' === d.status) {
                $('#contest_id').val(d.data.contest_id);
                layer.confirm(d.msg, {
                    btn: ['查看比赛','继续编辑'] //按钮
                }, function(){
                    layer.closeAll();
                    setTimeout(function(){
                        window.open('/contests/' + d.data.contest_id);
                    },100);
                }, function(){
                    location.href = "/admin/contest/edit?contest_id=" + d.data.contest_id;
                    layer.closeAll();
                });
            }else{
                layer.alert(d.msg);
            }
        },'json');
    }

</script>
{/block}